body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}
.full {
    width: 100%;
    height: 100%;
}
.logo {
    filter: invert(100%) sepia(1%) saturate(1%) hue-rotate(0) brightness(1209%) contrast(300%);
}
.img {
    object-fit: cover !important;
}
.swiper {
    width: 100% !important;
}
.swiper-button-next,
.swiper-button-prev {
    transform: scale(.8);
    &:after {
        color: gray !important;
    }
}
.mySwiper {
    width: 100% !important;

}
.TripsCardLink {
    padding-top: 0.5em;
}
.brf {
    border-radius: 50000px;
}
.br1 {
    border-radius: 1em;
}
.cursor {
    cursor: pointer;
}
.cover {
    object-fit: cover;
}
.italic {
    font-style:italic;
}
.bold {
    font-weight: 500;
}
.slide {
    height: 390px !important;

    a {
        margin: 0.5em;
        color: black;
        font-size: 1.2em;

    }
}
.relative {
    position: relative !important;
}
.ztop {
    z-index: 500;
}
.z-4 {
    z-index: -4;
}
.transparentimg {
    width: 80%;
    right: 0;
    left: 0 !important;
    object-fit: cover !important;

}
.MuiBackdrop-root .MuiBackdrop-invisible .css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop {
    z-index: 9999999;
}
@media (min-width: 900px) {
    .slide {
        height: 450px !important;
    }
}
@media (min-width : 600px) {
    .br2 {
        border-radius: 1em;
    }
}
